<ul class="menu">
{{ request.path }} {{ 20 }}

    {% for m_item in menu_items %}
    {{ items_selected }} {{ 10 }}
    {% if not m_item.parent or request.path in m_item.child.all %}


<!--    {{ m_item.child.all }}-->
<!--    {{ request.path }}-->
        <li><a class="menu_url" href="{{ m_item.url }}">{{ m_item.title }}</a></li>

        {{ m_item.get_parents }} {{ 1 }}

        {% endif %}

        {% if m_item.url == request.path %}
    {{ m_item.get_parents }} {{ 1 }}
            <li><a class="selected" href="{{ m_item.url }}">{{ m_item.title }}</a></li>
                {{ m_item.get_child }} <br>

        {% else %}

        {% endif %}
    {% endfor %}

</ul>
